@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%;
  margin: 0 auto;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*=================================
  main styling starts here
=================================*/
.heading .wrapper {
  width: 100%;
  margin: 0;
  background-color: black;
  color: aliceblue;
}

h1 {
  padding: 13px;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
}

li {
  width: 31%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}

h2 {
  padding: 70px 0;
  font-size: 32px;
  font-weight: 900;
}

.content { background-color: #d2d2d2; }

.number {
  padding: 15px 0;
  border-bottom: 4px solid #d2d2d28e;
  color: #dc5e2d;
  font-size: 18px;
  font-weight: 900;
}

h3 {
  padding: 25px 0 20px;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
}

p { color: #898787; }

a {
  width: 25%;
  padding-top: 20px;
  color: #dc5e2d;
}

.read-less { width: 30%; }
.li-read-more { box-shadow: 10px 10px #808080a8; }
/*=================================
  main styling ends here
=================================*/
